# IDEs
.idea/
.vscode/

# OS Files
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Node
node_modules/
dist/
coverage/

# RAG Database
src/rag/chroma_db/

# Local source materials
fuentes/
